* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 20px;
  color: white;
  font-family: ubuntu;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(126, 17, 228);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.first_image {
  max-width: 500px;
}
.heading {
  color: blueviolet;
  font-size: 30px;
}
.contact_container {
  border-width: 0 2px 2px 2px;
  border-color: aqua;
  border-radius: 0 0 20px 20px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.about_me {
  width: 80%;
}

#main_container {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
#skill_container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (max-width: 1180px) {
  .contact_container {
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .first_image {
    width: 430px;
  }
  .contact_container {
    width: 70%;
  }
}
@media screen and (max-width: 840px) {
  #main_container,
  #skill_container,
  .contact_container,
  .first_image {
    width: 100%;
  }
  .about_me {
    width: 80%;
  }
  #skill_container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 630px) {
  .contact_container {
    flex-direction: column;
    gap: 10px;
  }
}

.contact_container img {
  width: 30px;
}
.contact_container p {
  display: flex;
  align-items: center;
}
.contact_container a {
  text-decoration: none;
}
